# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# ===============================
# Virtual Environments
# ===============================
.venv/
venv/
env/

# ===============================
# Environment variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Database
# ===============================
*.db

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Docker
# ===============================
docker/sql_data/
*.pid

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Testing
# ===============================
.pytest_cache/
.coverage
htmlcov/